*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgba(231, 235, 238, 1);
}

.wrapper{
    display: flex;
    position: relative;
}


.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background:rgba(57, 74, 92, 1);
}

.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}